<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}

            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.github-user %}
            <a
              class="social-link social-link-tw"
              href="https://github.com/{{ site.github-user }}"
              target="_blank"
              rel="noopener"
              >{% include github.html %}</a
            >
            {% endif %}{% if site.linkedin %}
            <a
              class="social-link social-link-li"
              href="https://www.linkedin.com/in/{{ site.linkedin }}"
              target="_blank"
              rel="noopener"
              >{% include linkedin.html %}</a
            >
            {% endif %} {% if site.twitter %}
            <a
              class="social-link social-link-tw"
              href="https://twitter.com/{{ site.twitter }}"
              target="_blank"
              rel="noopener"
              >{% include twitter.html %}</a
            >
            {% endif %} {% if site.email %}
            <a
              class="social-link social-link-tw"
              href="mailto:{{ site.email }}"
              target="_blank"
              rel="noopener"
              >{% include email.html %}</a
            >
            {% endif %}
          </div>
</nav>
